div {
  height: 50px;
}

.wrapper {
  position: relative;
  z-index: 0;
}

div.container {
  width: 200px;
  height: 200px;
  background-color: red;
}

div.drawer {
  position: absolute;
  display: flex;
  z-index: -1;
  width: 300px;
  top: 20px;
  background-color: green;
}

div.drawer > .content {
  position: relative;
  background-color: blue;
  width: 200px;
}

div.drawer > .header {
  width: 100px;
}

div.drawer:hover {
  left: 200px;
}
