<link rel="stylesheet" href="drawer.css" />
<div class="wrapper">
  <div class="container">
    <div class="drawer">
      <div class="content"></div>
      <div class="header"></div>
    </div>
  </div>
</div>
