<link rel="stylesheet" href="face.css" />
<div class="frame">
  <span class="ear border-left left-ear"></span>
  <div class="face">
    <div class="forehead"></div>
    <div class="eyebrows">
      <span class="eyebrow"></span>
      <span class="eyebrow"></span>
    </div>
    <div class="eyes">
      <span name="left-eye" class="eye"><span class="eyeball"></span></span>
      <span name="right-eye" class="eye"><span class="eyeball"></span></span>
    </div>
    <div class="nose">
      <div class="nose-container">
        <span class="hole border-left"></span>
        <span class="nose border-left border-right"></span>
        <span class="hole border-right"></span>
      </div>
    </div>
    <div class="mouth">
      <div class="lips">
      </div>
    </div>
  </div>
  <span class="ear border-right right-ear"></span>
</div>