<script type="text/javascript" src="sliding-text.js" defer></script>
<link rel="stylesheet" href="sliding-text.css" />
<div class="root">
  <div class="container">
    <div class="left">
      <span class="text"> gsfjglfsglfsglfsggnsdgjnsjkgns </span>
    </div>
    <div class="right"></div>
  </div>
  <div class="mid"></div>
</div>
