div {
  height: 20px;
  position: absolute;
}

div.root {
  position: relative;
  height: 50px;
  width: 600px;
  left: 300px;
}

div.container {
  position: relative;
  overflow: hidden;
}

span.text {
  position: relative;
  width: auto;
  animation: slide-left 30s linear;
  white-space: nowrap;
}

div.left {
  width: 100%;
}

div.right {
  background-color: rgb(228, 217, 228);
  right: 0;
  opacity: 0.7;
  border-left: solid 1px green;
  animation: slide-right 30s linear;
  width: 0;
}

div.mid {
  border-left: solid 1px green;
  height: 100%;
  right: 0px;
  width: 0;
  animation: slide-right 30s linear;
}

@keyframes slide-left {
  0% {
    margin-left: 0px;
  }

  100% {
    margin-left: -1000px;
  }
}

@keyframes slide-right {
  0% {
    width: 70%;
  }
  100% {
    width: 0%;
  }
}
